extends layout

block content
  .container
    .row
      .col-md-12
        h1 Welcome #{user.name}
        // Render buttons and other user-specific header elements
    .row
      .col-md-12
        // Render list of customers using a loop
