extends layout

block content
  h1 Login
  form(method="post" action="/login")
    label(for="username") Username:
    input(type="text" id="username" name="username" required=true)

    label(for="password") Password:
    input(type="password" id="password" name="password" required=true)

    button(type="submit") Login
